src/packages/
src/.vs
src/*.user
src/AnalyzeMe/AnalyzeMe.WorkProcess.Analyzers/obj/
src/AnalyzeMe/AnalyzeMe.WorkProcess.Analyzers/bin/
src/AnalyzeMe/AnalyzeMe.Vsix/bin/
src/AnalyzeMe/AnalyzeMe.Vsix/obj/
src/AnalyzeMe/AnalyzeMe.Tests/bin/
src/AnalyzeMe/AnalyzeMe.Tests/obj/
src/AnalyzeMe/AnalyzeMe.WorkProcess.Tools/bin/
src/AnalyzeMe/AnalyzeMe.WorkProcess.Tools/obj/
src/AnalyzeMe/AnalyzeMe.WorkProcess.Host/bin/
src/AnalyzeMe/AnalyzeMe.WorkProcess.Host/obj/
src/AnalyzeMe/AnalyzeMe.Design.Analyzers/bin/
src/AnalyzeMe/AnalyzeMe.Design.Analyzers/obj/


